try-import %workspace%/user.bazelrc

build --java_language_version=17
#build --java_runtime_version=roboriojdk_11

# build --javacopt=-Werror
# build --javacopt=-Xlint:all,-try,-serial

test --test_output=errors

import .bazelrc-roborio
import .bazelrc-buildbuddy

# CTRE are currently not deterministic
test --test_arg="--exclude-tag=ctre"

# Don't run flaky tests
test --test_arg="--exclude-tag=flaky"


build --registry=https://raw.githubusercontent.com/pjreiniger/bazel-central-registry/bzlmodrio/
