name: Java CI

on: [push, pull_request]

jobs:
  build_simulator:
    strategy:
      fail-fast: false
      matrix:
        platform:
        - os: windows-latest
          artifact-name: Win64
          architecture: x64
        - os: ubuntu-latest
          artifact-name: Linux
          architecture: x64
          build-options: "-x test"
        - os: macos-latest
          artifact-name: macOS
          architecture: x64
          build-options: "-x test"
    runs-on: ${{ matrix.platform.os }}

    steps:
    - uses: actions/checkout@v4

    - name: Set up Java
      uses: actions/setup-java@v4
      with:
        distribution: 'temurin'
        java-version: 17
        architecture: ${{ matrix.platform.architecture }}

    - name: Get current time
      uses: josStorer/get-current-time@v2.1.2
      id: current-time
      with:
        format: YYYY.MM.DD-HH

    - name: Build Simulator
      run: ./gradlew build publish -Pversion="${{ steps.current-time.outputs.formattedTime }}" ${{ matrix.platform.build-options }} --continue

    - name: Create vendordep UUID
      id: generate-uuid
      uses: filipstefansson/uuid-action@v1
      if: runner.os == 'Linux'

    - name: Generate Vendor Dep template
      run: |
        export VERSION=${{ steps.current-time.outputs.formattedTime }}
        export GUID=${{ steps.generate-uuid.outputs.uuid }}
        envsubst < snobotsim_vendordep_template.json > build/maven_output/SnobotSim.json
      if: runner.os == 'Linux'

    - name: Publish Artifacts
      uses: actions/upload-artifact@v5
      with:
        name: ${{ matrix.platform.artifact-name }}
        path: build/maven_output
