name: Lint and Format

on: [push, pull_request]

jobs:
  wpiformat:
    name: "wpiformat"
    runs-on: ubuntu-latest
    steps:

      # Checkout
      - uses: actions/checkout@v4
      - name: Fetch all history and metadata
        run: |
          git fetch --prune --unshallow
          git checkout -b pr
          git branch -f master origin/master

      # Setup dependencies
      - name: Set up Python 3.8
        uses: actions/setup-python@v5
        with:
          python-version: 3.8
      - name: Install clang-format
        run: |
          wget -O - https://apt.llvm.org/llvm-snapshot.gpg.key | sudo apt-key add -
          sudo sh -c "echo 'deb http://apt.llvm.org/focal/ llvm-toolchain-focal-14 main' >> /etc/apt/sources.list.d/proposed-repositories.list"
          sudo apt-get update -q
          sudo apt-get install -y clang-format-14
      - name: Install wpiformat
        run: pip3 install wpiformat

      - name: Run wpiformat
        run: wpiformat -clang 14

      # Check the diff
      - name: Check Output
        run: git --no-pager diff --exit-code HEAD
      - name: Generate diff
        run: git diff HEAD > wpiformat-fixes.patch
        if: ${{ failure() }}
      - uses: actions/upload-artifact@v4
        with:
          name: wpiformat fixes
          path: wpiformat-fixes.patch
        if: ${{ failure() }}

  buildifier:
    name: "buildifier"
    runs-on: ubuntu-latest
    steps:

      - uses: actions/checkout@v4

      - name: Set up Go 1.15.x
        uses: actions/setup-go@v6
        with:
          go-version: 1.15.x
        id: go
      - name: Install Buildifier
        run: |
          cd $(mktemp -d)
          GO111MODULE=on go get github.com/bazelbuild/buildtools/buildifier@4.0.1

      - name: Run buildifier
        run: buildifier --lint=fix -r .

    # Check the diff
      - name: Check Output
        run: git --no-pager diff --exit-code HEAD
      - name: Generate diff
        run: git diff HEAD > buildifier-fixes.patch
        if: ${{ failure() }}
      - uses: actions/upload-artifact@v4
        with:
          name: buildifier fixes
          path: buildifier-fixes.patch
        if: ${{ failure() }}

  spotless:
    name: "spotless"
    runs-on: ubuntu-latest
    steps:

      - uses: actions/checkout@v4

      # Run formatters
      - name: Run Spotless
        run: ./gradlew spotlessApply

      # Check the diff
      - name: Check Output
        run: git --no-pager diff --exit-code HEAD
      - name: Generate diff
        run: git diff HEAD > spotless-fixes.patch
        if: ${{ failure() }}
      - uses: actions/upload-artifact@v4
        with:
          name: spotless fixes
          path: spotless-fixes.patch
        if: ${{ failure() }}

  unused_deps:
    name: "unused deps"
    runs-on: ubuntu-latest
    steps:

      - uses: actions/checkout@v4

      - name: Set up Go 1.15.x
        uses: actions/setup-go@v6
        with:
          go-version: 1.15.x
        id: go
      - name: Install Unused Deps
        run: |
          cd $(mktemp -d)
          GO111MODULE=on go get github.com/bazelbuild/buildtools/unused_deps@4.0.1

      - name: Run unused deps
        run: unused_deps //...

      # Check the diff
      - name: Check Output
        run: git --no-pager diff --exit-code HEAD
      - name: Generate diff
        run: git diff HEAD > unused-deps-fixes.patch
        if: ${{ failure() }}
      - uses: actions/upload-artifact@v4
        with:
          name: unused deps fixes
          path: unused-deps-fixes.patch
        if: ${{ failure() }}
